src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="ic-sfdc--sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${https.port}">
		</http:listener-connection>
    </http:listener-config>
    <apikit:config name="ic-sfdc--sapi-config" api="resource::10f610c1-3303-4b7e-af82-600a570589c0:ic-sfdc-contracts-sapi:1.0.0:raml:zip:ic-sfdc--sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="ic-sfdc--sapi-main">
        <http:listener config-ref="ic-sfdc--sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="ic-sfdc--sapi-config" />
		<error-handler ref="Error_Handler" />
    </flow>
    <flow name="ic-sfdc--sapi-console">
        <http:listener config-ref="ic-sfdc--sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ic-sfdc--sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\contracts\(id):application\json:ic-sfdc--sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="8d17ef49-4732-40b4-8a56-22dee83d013b" name="put_By-Id-implementationFlow"/>
    </flow>
    <flow name="delete:\contracts\(id):ic-sfdc--sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="1735ef4e-d849-49dd-90e6-6369c05ec4fd" name="delete-By-id-implementationFlow"/>
    </flow>
    <flow name="get:\contracts:ic-sfdc--sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="53157b0d-8b44-484f-bd59-f3a9d9d37f10" name="getAll-Contracts-implementationFlow"/>
    </flow>
    <flow name="get:\contracts\(id):ic-sfdc--sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="72233640-82b7-4b1a-b1cc-8e29c6ef5d1b" name="get-By-Id-implementationFlow"/>
    </flow>
    <flow name="post:\contracts:application\json:ic-sfdc--sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="01e38b5c-90a9-4d0f-b1e7-d310d1a64d13" name="postcontractsimplementationFlow"/>
    </flow>
</mule>
